.modal-img{
  width: 141px;
  height: 141px;
}

td{
  padding-top: 19px;
  padding-bottom: 17px;
}
.admin{
  min-height: 100vh;
  table {
    td {
      padding-top: 19px;
      padding-bottom: 17px;
    }
  }
}
.wrap{
  height: calc( 100vh - 170px);
}

