<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
    
  </head>

  <body>
    <nav class="sidebar bg-light d-flex flex-column justify-content-between pt-7 pb-6">
      <div>
        <h1 class="ps-6 mb-7">
          <a href="#" class="logo">
            ANSWER
          </a>
        </h1>
       <ul class="nav flex-column">
         <li class="nav-item">
           <a class="nav-link link-dark fw-bold ps-6 py-3" aria-current="page" href="#">
            <span class="material-icons me-3 align-middle">
              assessment
              </span> 
              Dashboard
            </a>
         </li>
         <li class="nav-item">
          <a class="nav-link link-dark fw-bold ps-6 py-3" aria-current="page" href="#">
           <span class="material-icons me-3 align-middle">
            question_answer
             </span> 
             Question
           </a>
        </li>
        <li class="nav-item position-relative">
          <a class="nav-link link-success fw-bold ps-6 py-3 active" aria-current="page" href="#">
           <span class="material-icons me-3 align-middle">
            assignment
             </span> 
             Assignment
           </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark fw-bold ps-6 py-3" aria-current="page" href="#">
           <span class="material-icons me-3 align-middle">
            video_library
             </span> 
             Course
           </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark fw-bold ps-6 py-3" aria-current="page" href="./admin.html">
           <span class="material-icons me-3 align-middle">
            supervisor_account
             </span> 
             Admin
           </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark fw-bold ps-6 py-3" aria-current="page" href="#">
           <span class="material-icons me-3 align-middle">
            settings
             </span> 
             Settings
           </a>
        </li>
       </ul>
      </div>
      
     <div class="user ps-6 d-flex">
       <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true" alt="" srcset="" class="user-img rounded-circle img-cover">
       <div class="ms-3">
         <ul class="list-unstyled">
           <li>
            <h2 class="h6 fw-bold mb-1">Andy Chen</h2>
           </li>
           <li>
             <a href="mailto:andy0401@mail.com" class="fs-sm text-pale">andy0401@mail.com</a>
           </li>
         </ul>
       </div>
       
     </div>
    </nav>

    <%- contents %>
 
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>